.calculator-keys{
    margin: 30px 0px;
    border: 1px solid black;
    padding: 100px 30px 30px;
    
}
button{
    font-size: 50px;
    padding: 5px 20px 0px;
    border-radius: 50px;
    border: none;
    margin: 5px 0px;
    min-width: 50px;   
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.zero{
    width: 135px;
}
.clear{
    width: 200px;
}
.min-dot{
    width: 65px;
}